USE [BTS_MES_C22]
GO
/****** Object:  Table [dbo].[ASSY_Vision_System]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSY_Vision_System](
	[LineCode] [varchar](10) NULL,
	[Barcode] [varchar](60) NOT NULL,
	[Timestamp] [datetime] NULL,
	[DateCode] [char](4) NULL,
	[PartNo] [varchar](30) NULL,
	[SerialNo] [varchar](15) NULL,
	[ProfitCenterCode] [varchar](20) NULL,
	[IsRework] [bit] NULL,
 CONSTRAINT [PK_ASSY_Vision_System] PRIMARY KEY CLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assy_WIP]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assy_WIP](
	[LineCode] [varchar](10) NULL,
	[MachineCode] [varchar](20) NULL,
	[WIPCount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP10_Continuity_testing_Air_And_vacuum_Cleaning]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP10_Continuity_testing_Air_And_vacuum_Cleaning](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[CNT_Pressure_Fill_TIME] [float] NULL,
	[BLEED_PORT_CNT_RESULT] [varchar](50) NULL,
	[BLEED_PORT_CNT_CT] [float] NULL,
	[Bleed_CNT_Out_Pressure_Act] [float] NULL,
	[Bleed_CNT_set_Pressure_Max] [float] NULL,
	[Bleed_CNT_set_Pressure_Min] [float] NULL,
	[INLET_PORT_CNT_RESULT] [varchar](50) NULL,
	[INLET_PORT_CNT_CT] [float] NULL,
	[INLET_PORT_set_Pressure_Min] [float] NULL,
	[INLET_PORT_Out_Pressure_Act] [float] NULL,
	[INLET_PORT_set_Pressure_Max] [float] NULL,
	[CLEANING_VAC_RESULT] [varchar](50) NULL,
	[CLEANING_VAC_CT] [float] NULL,
	[Vacuum_Fill_TIME] [float] NULL,
	[CLEANING_VAC_Set_Min] [float] NULL,
	[CLEANING_VAC_Fill_Act] [float] NULL,
	[CLEANING_VAC_Set_MAX] [float] NULL,
	[Bleed_screw_Torque_Result] [varchar](50) NULL,
	[Bleed_screw_Torque_CT] [float] NULL,
	[Bleed_Screw_Torque_Min_Nm] [float] NULL,
	[Bleed_Screw_Torque_Act_Nm] [float] NULL,
	[Bleed_Screw_Torque_Max_Nm] [float] NULL,
	[Bleed_Screw_Angle_Min_Deg] [float] NULL,
	[Bleed_Screw_Angle_Act_Deg] [float] NULL,
	[Bleed_Screw_Angle_Max_Deg] [float] NULL,
	[SERIAL_NO] [int] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_1] [varchar](50) NULL,
	[Reserved_2] [varchar](50) NULL,
	[Reserved_3] [varchar](50) NULL,
	[Reserved_4] [varchar](50) NULL,
	[Reserved_5] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP100_10_GLOBALDATA]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP100_10_GLOBALDATA](
	[OP10_RFID] [varchar](25) NULL,
	[OP10_DTS_SCAN] [datetime] NULL,
	[OP10_STATUS] [varchar](10) NULL,
	[OP10_DCODE] [varchar](10) NULL,
	[OP10_DTS_PASS] [datetime] NULL,
	[OP10_FCA] [int] NULL,
	[OP10_ROUTING] [varchar](15) NULL,
	[OP10_SERIAL_NO] [int] NULL,
	[OP10_MODELNO] [varchar](12) NULL,
	[OP10_WORKORDER] [varchar](10) NULL,
	[OP10_PROFITCENTRE] [varchar](10) NULL,
	[OP10_CELLNO] [varchar](10) NULL,
	[OP10_MACHINECODE] [varchar](15) NULL,
	[OP10_OPERATIONCODE] [varchar](15) NULL,
	[OP20_DTS_SCAN] [datetime] NULL,
	[OP20_DTS_PASS] [datetime] NULL,
	[OP20_TORQ] [float] NULL,
	[OP20_ANGLE] [float] NULL,
	[OP20_CT] [float] NULL,
	[OP20_CSTATUS] [varchar](10) NULL,
	[OP20_STATUS] [varchar](10) NULL,
	[OP20_FCS] [int] NULL,
	[OP20_FCA] [int] NULL,
	[OP20_ROUTING] [varchar](10) NULL,
	[OP30_DTS_SCAN] [datetime] NULL,
	[OP30_DTS_PASS] [datetime] NULL,
	[OP30_LOAD] [float] NULL,
	[OP30_DISTANCE] [float] NULL,
	[OP30_CT] [float] NULL,
	[OP30_STATUS] [varchar](10) NULL,
	[OP30_FCS] [int] NULL,
	[OP30_FCA] [int] NULL,
	[OP30_ROUTING] [varchar](10) NULL,
	[OP40_DTS_SCAN] [datetime] NULL,
	[OP40_DTS_PASS] [datetime] NULL,
	[OP40_PFT_LIMIT] [float] NULL,
	[OP40_PFT_DROP] [float] NULL,
	[OP40_LP_LIMIT] [float] NULL,
	[OP40_LP_DROP] [float] NULL,
	[OP40_LP_TESTTIME] [float] NULL,
	[OP40_CT] [float] NULL,
	[OP40_STATUS] [varchar](10) NULL,
	[OP40_FCS] [int] NULL,
	[OP40_FCA] [int] NULL,
	[OP40_ROUTING] [varchar](10) NULL,
	[OP50_DTS_SCAN] [datetime] NULL,
	[OP50_DTS_PASS] [datetime] NULL,
	[OP50_HP_LIMIT] [float] NULL,
	[OP50_HP_DROP] [float] NULL,
	[OP50_TESTTIME] [float] NULL,
	[OP50_CT] [float] NULL,
	[OP50_STATUS] [varchar](10) NULL,
	[OP50_FCS] [int] NULL,
	[OP50_FCA] [int] NULL,
	[OP50_ROUTING] [varchar](10) NULL,
	[OP60_DTS_SCAN] [datetime] NULL,
	[OP60_DTS_PASS] [datetime] NULL,
	[OP60_DCODE] [varchar](10) NULL,
	[OP60_CT] [float] NULL,
	[OP60_STATUS] [varchar](10) NULL,
	[OP60_FCS] [int] NULL,
	[OP60_FCA] [int] NULL,
	[OP60_ROUTING] [varchar](10) NULL,
	[OP70_DTS_SCAN] [datetime] NULL,
	[OP70_DTS_PASS] [datetime] NULL,
	[OP70_TORQ1] [float] NULL,
	[OP70_ANGLE1] [float] NULL,
	[OP70_TORQ2] [float] NULL,
	[OP70_ANGLE2] [float] NULL,
	[OP70_CT] [float] NULL,
	[OP70_TORQSTATUS] [varchar](10) NULL,
	[OP70_PROFILESTATUS] [varchar](10) NULL,
	[OP70_FCS] [int] NULL,
	[OP70_FCA] [int] NULL,
	[OP70_ROUTING] [varchar](10) NULL,
	[OP80_DTS_SCAN] [datetime] NULL,
	[OP80_DTS_PASS] [datetime] NULL,
	[OP80_ASR_MIN] [float] NULL,
	[OP80_LOAD] [float] NULL,
	[OP80_ASR_MAX] [float] NULL,
	[OP80_DISTANCE] [float] NULL,
	[OP80_CT] [float] NULL,
	[OP80_STATUS] [varchar](10) NULL,
	[OP80_FCS] [int] NULL,
	[OP80_FCA] [int] NULL,
	[OP80_ROUTING] [varchar](10) NULL,
	[OP90_DTS_SCAN] [datetime] NULL,
	[OP90_DTS_PASS] [datetime] NULL,
	[OP90_Total_Torque] [float] NULL,
	[OP90_Caliber_Torque] [float] NULL,
	[OP90_CT] [float] NULL,
	[OP90_STATUS] [varchar](10) NULL,
	[OP90_FCS] [int] NULL,
	[OP90_FCA] [int] NULL,
	[OP90_ROUTING] [varchar](10) NULL,
	[OP100_MINDACKG] [int] NULL,
	[TS_FLAG] [smallint] NULL,
	[IsRework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP100_Pad_Final_Assembly_And_Torquing]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP100_Pad_Final_Assembly_And_Torquing](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[Pad_Assy_Result] [varchar](50) NULL,
	[Pad_Assy_CT] [float] NULL,
	[Pad_1D_Result] [varchar](50) NULL,
	[Pad_PWWI_Result] [varchar](50) NULL,
	[LH_Torque_Result] [varchar](50) NULL,
	[LH_Torque_CT] [float] NULL,
	[LH_Torque_Min_Nm] [float] NULL,
	[LH_Torque_Act_Nm] [float] NULL,
	[LH_Torque_Max_Nm] [float] NULL,
	[LH_Angle_Min_Deg] [float] NULL,
	[LH_Angle_Act_Deg] [float] NULL,
	[LH_Angle_Max_Deg] [float] NULL,
	[RH_Torque_Result] [varchar](50) NULL,
	[RH_Torque_CT] [float] NULL,
	[RH_Torque_Min_Nm] [float] NULL,
	[RH_Torque_Act_Nm] [float] NULL,
	[RH_Torque_Max_Nm] [float] NULL,
	[RH_Angle_Min_Deg] [float] NULL,
	[RH_Angle_Act_Deg] [float] NULL,
	[RH_Angle_Max_Deg] [float] NULL,
	[DISC_CHECK_STATUS] [varchar](50) NULL,
	[DISC_CHECK_CT] [float] NULL,
	[PROFILE_CHECK_STATUS] [varchar](50) NULL,
	[PROFILE_CHECK_CT] [float] NULL,
	[PRINTED_QR] [varchar](50) NULL,
	[QR_Code_Serial_No] [varchar](50) NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_46] [varchar](50) NULL,
	[Reserved_47] [varchar](50) NULL,
	[Reserved_48] [varchar](50) NULL,
	[Reserved_49] [varchar](50) NULL,
	[Reserved_50] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP110_ASR_And_Date_code]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP110_ASR_And_Date_code](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[ASR_Result] [varchar](50) NULL,
	[ASR_CT] [float] NULL,
	[ASR_LOAD_Min] [float] NULL,
	[ASR_LOAD_ACT] [float] NULL,
	[ASR_LOAD_Max] [float] NULL,
	[ASR_DISTANCE_SET] [float] NULL,
	[ASR_DISTANCE_ACTUAL] [float] NULL,
	[STROKES_SET] [float] NULL,
	[ASR_SPEED_SET] [float] NULL,
	[ASR_TENSION_PEAK_LOAD_RESULT] [varchar](50) NULL,
	[ASR_COMP_PEAK_LOAD_RESULT] [varchar](50) NULL,
	[ASR_Fill_Pr_Min] [float] NULL,
	[ASR_Fill_Pr_Act] [float] NULL,
	[ASR_Fill_Pr_Max] [float] NULL,
	[ASR_METHOD] [varchar](50) NULL,
	[DC_Result] [varchar](50) NULL,
	[DC_CT] [float] NULL,
	[DATE_CODE] [varchar](50) NULL,
	[SCANNED_QR_RESULT] [varchar](50) NULL,
	[SCANNED_QR] [varchar](150) NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_51] [varchar](50) NULL,
	[Reserved_52] [varchar](50) NULL,
	[Reserved_53] [varchar](50) NULL,
	[Reserved_54] [varchar](50) NULL,
	[Reserved_55] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP120_AUTO_INSPECTION]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP120_AUTO_INSPECTION](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[CT] [float] NULL,
	[INSPECTION_RESULT] [varchar](50) NULL,
	[INSPECTION_CT] [float] NULL,
	[VISION_STATUS_1] [varchar](50) NULL,
	[VISION_STATUS_2] [varchar](50) NULL,
	[VISION_STATUS_3] [varchar](50) NULL,
	[VISION_STATUS_4] [varchar](50) NULL,
	[VISION_STATUS_5] [varchar](50) NULL,
	[VISION_STATUS_6] [varchar](50) NULL,
	[VISION_STATUS_7] [varchar](50) NULL,
	[VISION_STATUS_8] [varchar](50) NULL,
	[VISION_STATUS_9] [varchar](50) NULL,
	[VISION_STATUS_10] [varchar](50) NULL,
	[VISION_STATUS_11] [varchar](50) NULL,
	[VISION_STATUS_12] [varchar](50) NULL,
	[VISION_STATUS_13] [varchar](50) NULL,
	[VISION_STATUS_14] [varchar](50) NULL,
	[VISION_STATUS_15] [varchar](50) NULL,
	[VISION_STATUS_16] [varchar](50) NULL,
	[VISION_STATUS_17] [varchar](50) NULL,
	[VISION_STATUS_18] [varchar](50) NULL,
	[VISION_STATUS_19] [varchar](50) NULL,
	[VISION_STATUS_20] [varchar](50) NULL,
	[VISION_STATUS_21] [varchar](50) NULL,
	[VISION_STATUS_22] [varchar](50) NULL,
	[VISION_STATUS_23] [varchar](50) NULL,
	[VISION_STATUS_24] [varchar](50) NULL,
	[VISION_STATUS_25] [varchar](50) NULL,
	[VISION_STATUS_26] [varchar](50) NULL,
	[VISION_STATUS_27] [varchar](50) NULL,
	[VISION_STATUS_28] [varchar](50) NULL,
	[VISION_STATUS_29] [varchar](50) NULL,
	[VISION_STATUS_30] [varchar](50) NULL,
	[VISION_STATUS_31] [varchar](50) NULL,
	[VISION_STATUS_32] [varchar](50) NULL,
	[VISION_STATUS_33] [varchar](50) NULL,
	[VISION_STATUS_34] [varchar](50) NULL,
	[VISION_STATUS_35] [varchar](50) NULL,
	[VISION_STATUS_36] [varchar](50) NULL,
	[VISION_STATUS_37] [varchar](50) NULL,
	[VISION_STATUS_38] [varchar](50) NULL,
	[VISION_STATUS_39] [varchar](50) NULL,
	[VISION_STATUS_40] [varchar](50) NULL,
	[SCANNED_QR_RESULT] [varchar](50) NULL,
	[SCANNED_QR] [varchar](50) NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_56] [varchar](50) NULL,
	[Reserved_57] [varchar](50) NULL,
	[Reserved_58] [varchar](50) NULL,
	[Reserved_59] [varchar](50) NULL,
	[Reserved_60] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP20_Sleeve_Cup_Seal_And_Pin_Pressing ]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP20_Sleeve_Cup_Seal_And_Pin_Pressing ](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[Sleeve_VAC_Result] [varchar](50) NULL,
	[Sleeve_VAC_CT] [float] NULL,
	[Sleeve_Vacuum_Fill_TIME] [float] NULL,
	[Sleeve_VAC_Set_Min] [float] NULL,
	[Sleeve_VAC_Fill_Act] [float] NULL,
	[Sleeve_VAC_Set_MAX] [float] NULL,
	[SLEEVE_PRESSING_CT] [float] NULL,
	[SLEEVE_PRESSING_RESULT] [varchar](50) NULL,
	[Sleeve_Press_Set_Pr] [float] NULL,
	[SLEEVE_PRESS_LOAD_SET_MIN] [float] NULL,
	[SLEEVE_PRESS_LOAD_ACT] [float] NULL,
	[SLEEVE_PRESS_LOAD_SET_MAX] [float] NULL,
	[SLEEVE_PRESS_POSITION_SET_MIN] [float] NULL,
	[SLEEVE_PRESS_POSITION_ACT] [float] NULL,
	[SLEEVE_PRESS_POSITION_SET_MAX] [float] NULL,
	[Cup_Seal_PRESSING_RESULT] [varchar](50) NULL,
	[Cup_Seal_PRESSING_CT] [float] NULL,
	[Cup_Seal_Press_Set_Pr] [float] NULL,
	[Cup_Seal_PRESS_LOAD_SET_MIN] [float] NULL,
	[Cup_Seal_PRESS_LOAD_ACT] [float] NULL,
	[Cup_Seal_PRESS_LOAD_SET_MAX] [float] NULL,
	[Cup_Seal_PRESS_POSITION_SET_MIN] [float] NULL,
	[Cup_Seal_PRESS_POSITION_ACT] [float] NULL,
	[Cup_Seal_PRESS_POSITION_SET_MAX] [float] NULL,
	[Pin_PRESSING_RESULT] [varchar](50) NULL,
	[Pin_PRESSING_CT] [float] NULL,
	[Pin_Press_Set_Pr] [float] NULL,
	[Pin_PRESS_LOAD_SET_MIN] [float] NULL,
	[PinPRESS_LOAD_ACT] [float] NULL,
	[Pin_PRESS_LOAD_SET_MAX] [float] NULL,
	[Pin_PRESS_POSITION_SET_MIN] [float] NULL,
	[Pin_PRESS_POSITION_ACT] [float] NULL,
	[Pin_PRESS_POSITION_SET_MAX] [float] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[SERIAL_NO] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_6] [varchar](50) NULL,
	[Reserved_7] [varchar](50) NULL,
	[Reserved_8] [varchar](50) NULL,
	[Reserved_9] [varchar](50) NULL,
	[Reserved_10] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP30_ACTUATOR_CIRCLIP_ASSY]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP30_ACTUATOR_CIRCLIP_ASSY](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[Actuator_O_Ring_VAC_Result] [varchar](50) NULL,
	[Actuator_O_Ring_VAC_CT] [float] NULL,
	[Actuator_O_Ring_Fill_TIME] [float] NULL,
	[Actuator_O_Ring_VAC_Set_Min] [float] NULL,
	[Actuator_O_Ring_VAC_Fill_ACT] [float] NULL,
	[Actuator_O_Ring_VAC_Set_Max] [float] NULL,
	[CIRCLIP_PRESSING_Result] [varchar](50) NULL,
	[CIRCLIP_PRESSING_CT] [float] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[WORKORDER] [varchar](50) NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_11] [varchar](50) NULL,
	[Reserved_12] [varchar](50) NULL,
	[Reserved_13] [varchar](50) NULL,
	[Reserved_14] [varchar](50) NULL,
	[Reserved_15] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP40_PRE_ACTUATION_TESTING]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP40_PRE_ACTUATION_TESTING](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[Circlip_height_Result] [varchar](50) NULL,
	[Circlip_height_CT] [float] NULL,
	[Circlip_height_SET_MIN] [float] NULL,
	[Circlip_height_ACT] [float] NULL,
	[Circlip_height_SET_MAX] [float] NULL,
	[Pre_Actuation_Testing_Result] [varchar](50) NULL,
	[Pre_Actuation_Testing_CT] [float] NULL,
	[Actuator_hight_Diff_set_MIN] [float] NULL,
	[Actuator_hight_Diff_ACT] [float] NULL,
	[Actuator_hight_Diff_set_MAX] [float] NULL,
	[Actuator_hight_Return_set_MIN] [float] NULL,
	[Actuator_hight_Return_ACT] [float] NULL,
	[Actuator_hight_Return_set_MAX] [float] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_16] [varchar](50) NULL,
	[Reserved_17] [varchar](50) NULL,
	[Reserved_18] [varchar](50) NULL,
	[Reserved_19] [varchar](50) NULL,
	[Reserved_20] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP50_LEVER_PRESS_And_TORQUING]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP50_LEVER_PRESS_And_TORQUING](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[Actuator_height_Result] [varchar](50) NULL,
	[Actuator_height_Set_MIN] [float] NULL,
	[Actuator_height_Act] [float] NULL,
	[Actuator_height_set_Max] [float] NULL,
	[Lever_Press_Result] [varchar](50) NULL,
	[Lever_Press_CT] [float] NULL,
	[Judg_position_Set_MIN] [float] NULL,
	[Judg_position_ACT] [float] NULL,
	[Judg_position_Set_MAX] [float] NULL,
	[Judg_Load_Set_MIN] [float] NULL,
	[Judg_Load_Act] [float] NULL,
	[Judg_Load_Set_MAX] [float] NULL,
	[Butting_position_Set_MIN] [float] NULL,
	[Butting_position_ACT] [float] NULL,
	[Butting_position_Set_Max] [float] NULL,
	[Butting_Load_Set_MIN] [float] NULL,
	[Butting_Load_Act] [float] NULL,
	[Butting_Load_Set_MAX] [float] NULL,
	[Guide_cable_Torque_Result] [varchar](50) NULL,
	[Guide_cable_Torque_CT] [float] NULL,
	[Guide_cable_Torque_Min_Nm] [float] NULL,
	[Guide_cable_Torque_Act_Nm] [float] NULL,
	[Guide_cable_Torque_Max_Nm] [float] NULL,
	[Guide_cable_Angle_Min_Deg] [float] NULL,
	[Guide_cable_Angle_Act_Deg] [float] NULL,
	[Guide_cable_Angle_Max_Deg] [float] NULL,
	[Lever_Torque_Result] [varchar](50) NULL,
	[Lever_Torque_CT] [float] NULL,
	[Lever_Torque_Min_Nm] [float] NULL,
	[Lever_Torque_Act_Nm] [float] NULL,
	[Lever_Torque_Max_Nm] [float] NULL,
	[Lever_Angle_Min_Deg] [float] NULL,
	[Lever_Angle_Act_Deg] [float] NULL,
	[Lever_Angle_Max_Deg] [float] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_21] [varchar](50) NULL,
	[Reserved_22] [varchar](50) NULL,
	[Reserved_23] [varchar](50) NULL,
	[Reserved_24] [varchar](50) NULL,
	[Reserved_25] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP60_HIGHT_CHECKING_INSPECTION]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP60_HIGHT_CHECKING_INSPECTION](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[Circlip_height_Result] [varchar](50) NULL,
	[Circlip_height_SET_MIN] [float] NULL,
	[Circlip_height_ACT] [float] NULL,
	[Circlip_height_SET_MAX] [float] NULL,
	[Lever_Screw_height_Result] [varchar](50) NULL,
	[Lever_Screw_height_SET_MIN] [float] NULL,
	[Lever_Screw_height_ACT] [float] NULL,
	[Lever_Screw_height_SET_MAX] [float] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[Datetime] [datetime] NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_26] [varchar](50) NULL,
	[Reserved_27] [varchar](50) NULL,
	[Reserved_28] [varchar](50) NULL,
	[Reserved_29] [varchar](50) NULL,
	[Reserved_30] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP70_SEAL_CHECKING]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP70_SEAL_CHECKING](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[CT] [float] NULL,
	[Status] [varchar](50) NULL,
	[Seal_Check_Result] [varchar](50) NULL,
	[Seal_Check_Runout_Limit] [float] NULL,
	[Seal_check_runout_Actual_Micron] [float] NULL,
	[Seal_Check_Vision_Result] [varchar](50) NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_31] [varchar](50) NULL,
	[Reserved_32] [varchar](50) NULL,
	[Reserved_33] [varchar](50) NULL,
	[Reserved_34] [varchar](50) NULL,
	[Reserved_35] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP80_PISTON_ASSY_PFT_And_LP]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP80_PISTON_ASSY_PFT_And_LP](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[PISTON_ASSY_Result] [varchar](50) NULL,
	[PISTON_ASSY_CT] [float] NULL,
	[LP_POSTION_Set_MIN] [float] NULL,
	[LP_Postion_Act] [float] NULL,
	[LP_Postion_Set_MAX] [float] NULL,
	[LP_Load_Set_MIN] [float] NULL,
	[LP_Load_Set_Act] [float] NULL,
	[LP_Load_Set_MAX] [float] NULL,
	[Judg_position_Set_MIN] [float] NULL,
	[Judg_position_ACT] [float] NULL,
	[Judg_position_Set_MAX] [float] NULL,
	[Judg_Torque_Set_MIN] [float] NULL,
	[Judg_Torque_Act] [float] NULL,
	[Judg_Torque_Set_MAX] [float] NULL,
	[Piston_Assy_depth_Set_MIN] [float] NULL,
	[Piston_Assy_depth_Act] [float] NULL,
	[Piston_Assy_depth_Set_MAX] [float] NULL,
	[Butting_Torque_Set_MIN] [float] NULL,
	[Butting_Torque_ACT] [float] NULL,
	[Butting_Torque_Set_MAX] [float] NULL,
	[Butting_Load_Set_MIN] [float] NULL,
	[Butting_Load_Act] [float] NULL,
	[Butting_Load_Set_MAX] [float] NULL,
	[LP_Set_Test_time] [float] NULL,
	[LP_Set_Pr] [float] NULL,
	[HP_Set_Pr] [float] NULL,
	[Orientation_Result] [varchar](50) NULL,
	[Orientation_deg] [float] NULL,
	[PFT_ResulT] [varchar](50) NULL,
	[PFT_CT] [float] NULL,
	[FILL_TIME_PFT] [float] NULL,
	[PFT_Fill_Pr_MIN] [float] NULL,
	[PFT_Fill_Pr_Act] [float] NULL,
	[PFT_Fill_Pr_MAX] [float] NULL,
	[PFT_Movement_set_MIN] [float] NULL,
	[PFT_Movement_ACT] [float] NULL,
	[PFT_Movement_set_MAX] [float] NULL,
	[LP_Result] [varchar](50) NULL,
	[LP_CT] [float] NULL,
	[FILL_Time_LP] [float] NULL,
	[STAB_Time] [float] NULL,
	[TEST_Time] [float] NULL,
	[LP_Fill_Pr_MIN] [float] NULL,
	[LP_Fill_Pr_ACT] [float] NULL,
	[LP_Fill_Pr_MAX] [float] NULL,
	[LP_MAX_Drop_Limit] [float] NULL,
	[LP_ACT_Drop] [float] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[CT] [float] NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_36] [varchar](50) NULL,
	[Reserved_37] [varchar](50) NULL,
	[Reserved_38] [varchar](50) NULL,
	[Reserved_39] [varchar](50) NULL,
	[Reserved_40] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OP90_HP_Adjuster_And_Torsion_angle_test]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP90_HP_Adjuster_And_Torsion_angle_test](
	[Station] [varchar](50) NULL,
	[Barcode] [varchar](100) NULL,
	[Datetime] [datetime] NULL,
	[MODEL_NO] [varchar](50) NULL,
	[WORKORDER] [varchar](50) NULL,
	[DTS_SCAN] [datetime] NULL,
	[DTS_PASS] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[HP_RESULT] [varchar](50) NULL,
	[HP_CT] [float] NULL,
	[FILL_TIME_HP] [float] NULL,
	[STAB_TIME] [float] NULL,
	[TEST_TIME] [float] NULL,
	[HP_Fill_Pr_MIN] [float] NULL,
	[HP_Fill_Pr_ACT] [float] NULL,
	[HP_Fill_Pr_MAX] [float] NULL,
	[HP_Drop_Limit] [float] NULL,
	[HP_ACT_Drop] [float] NULL,
	[HP_Load_Min] [float] NULL,
	[HP_Load_ACT] [float] NULL,
	[HP_Load_Max] [float] NULL,
	[Adjuster_Test_Result] [varchar](50) NULL,
	[Adjuster_Test_CT] [float] NULL,
	[Adjuster_Fill_Pr_MIN] [float] NULL,
	[Adjuster_Fill_Pr_ACT] [float] NULL,
	[Adjuster_Fill_Pr_MAX] [float] NULL,
	[Pressure_Stroke_Count] [float] NULL,
	[Fill_time_Adjuster_test] [float] NULL,
	[Exhaust_pr_MIN] [float] NULL,
	[Exhaust_pr_ACT] [float] NULL,
	[Exhaust_pr_MAX] [float] NULL,
	[Adjuster_Load_MIN] [float] NULL,
	[Adjuster_Load_ACT] [float] NULL,
	[Adjuster_Load_MAX] [float] NULL,
	[Adjuster_Position_MIN] [float] NULL,
	[Adjuster_Position_ACT] [float] NULL,
	[Adjuster_Position_MAX] [float] NULL,
	[BIC_Min] [float] NULL,
	[BIC_ACT] [float] NULL,
	[BIC_MAX] [float] NULL,
	[Torsion_Angle_Result] [varchar](50) NULL,
	[Torsion_Angle_CT] [float] NULL,
	[Alpha_0_torque_set] [float] NULL,
	[Alpha_0_Load_Min] [float] NULL,
	[Alpha_0_Load_ACT] [float] NULL,
	[Alpha_0_Load_MAX] [float] NULL,
	[Alpha_2_torque_Min] [float] NULL,
	[Alpha_2_torque_ACT] [float] NULL,
	[Alpha_2_torque_MAX] [float] NULL,
	[Alpha_2_angle_Min] [float] NULL,
	[Alpha_2_angle_ACT] [float] NULL,
	[Alpha_2_angle_MAX] [float] NULL,
	[Pivot_position_Min] [float] NULL,
	[Pivot_position_ACT] [float] NULL,
	[Pivot_position_MAX] [float] NULL,
	[FCS] [int] NULL,
	[FCA] [int] NULL,
	[ROUTING] [varchar](50) NULL,
	[DCODE] [varchar](50) NULL,
	[SERIAL_NO] [int] NULL,
	[PROFITCENTER] [varchar](50) NULL,
	[CELLNO] [varchar](50) NULL,
	[Machinecode] [varchar](50) NULL,
	[Operationcode] [varchar](50) NULL,
	[CT] [float] NULL,
	[TS_FLAG] [smallint] NULL,
	[Reserved_41] [varchar](50) NULL,
	[Reserved_42] [varchar](50) NULL,
	[Reserved_43] [varchar](50) NULL,
	[Reserved_44] [varchar](50) NULL,
	[Reserved_45] [varchar](50) NULL,
	[Is_Rework] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoutingConfigLineWise]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutingConfigLineWise](
	[ProfitCenterCode] [nvarchar](4) NOT NULL,
	[OperationCode] [varchar](10) NOT NULL,
	[LineCode] [varchar](10) NOT NULL,
	[MachineCode] [varchar](10) NOT NULL,
	[OperationRequired] [bit] NULL,
	[Traceability] [bit] NULL,
	[Recipe] [bit] NULL,
	[LabelPrinting] [bit] NULL,
	[Torque] [bit] NULL,
	[POKA_YOKE_ALLOWED] [bit] NULL,
	[Engraving] [bit] NULL,
	[OperationSeqNo] [int] NULL,
	[WIP_Quantity] [int] NULL,
	[FinalViewingHWPushButton] [bit] NULL,
	[ScannerPrefix] [char](1) NULL,
	[ScannerSuffix] [char](1) NULL,
	[CycleTime] [numeric](7, 2) NULL,
	[ent_stamp] [datetime] NULL,
	[last_upd_stamp] [datetime] NULL,
	[ent_by] [varchar](20) NULL,
	[last_upd_by] [varchar](20) NULL,
	[Scrap] [bit] NULL,
	[WIPFIFOCheck] [bit] NULL,
	[ManPowerSeqNo] [int] NULL,
	[IS_PLCLogsRequired] [bit] NULL,
	[IsTextLogRequired] [bit] NULL,
	[CustomerOperationNo] [int] NULL,
	[IsHMIRecipeAvailable] [bit] NOT NULL,
	[IsPokaYokeForSubStation] [bit] NOT NULL,
	[Lot_Rework_Key] [nvarchar](100) NULL,
	[IsOfflineCapturingStation] [bit] NOT NULL,
	[IsReoffer] [bit] NULL,
 CONSTRAINT [PK_RoutingConfigLineWise] PRIMARY KEY CLUSTERED 
(
	[ProfitCenterCode] ASC,
	[OperationCode] ASC,
	[LineCode] ASC,
	[MachineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoutingConfigPartWise]    Script Date: 28-09-2026 12:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutingConfigPartWise](
	[ProfitCenterCode] [nvarchar](4) NOT NULL,
	[OperationCode] [varchar](10) NOT NULL,
	[PartNo] [varchar](60) NOT NULL,
	[MachineCode] [varchar](10) NOT NULL,
	[OperationRequired] [bit] NULL,
	[Traceability] [bit] NULL,
	[Recipe] [bit] NULL,
	[LabelPrinting] [bit] NULL,
	[Torque] [bit] NULL,
	[Engraving] [bit] NULL,
	[POKA_YOKE_ALLOWED] [bit] NULL,
	[OperationSeqNo] [int] NULL,
	[ent_stamp] [datetime] NULL,
	[last_upd_stamp] [datetime] NULL,
	[ent_by] [varchar](20) NULL,
	[last_upd_by] [varchar](20) NULL,
	[Part_FixtureGroupType] [varchar](50) NULL,
	[IsCPValidationRequired] [bit] NULL,
	[ChildPartsList] [nvarchar](1200) NULL,
	[CPBomQty] [nvarchar](1200) NULL,
	[CPTraceFlag] [nvarchar](1200) NULL,
	[TSBarcodeSeq] [smallint] NULL,
	[QueueValidationMinutes] [smallint] NULL,
	[QueueTime] [smallint] NULL,
 CONSTRAINT [PK_RoutingConfigPartWise] PRIMARY KEY CLUSTERED 
(
	[ProfitCenterCode] ASC,
	[OperationCode] ASC,
	[PartNo] ASC,
	[MachineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASSY_Vision_System] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[OP100_10_GLOBALDATA] ADD  DEFAULT ((0)) FOR [IsRework]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_OperationRequest]  DEFAULT ((0)) FOR [OperationRequired]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_Traceability]  DEFAULT ((0)) FOR [Traceability]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_Recipe]  DEFAULT ((0)) FOR [Recipe]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_LabelPrinting]  DEFAULT ((0)) FOR [LabelPrinting]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_Torque]  DEFAULT ((0)) FOR [Torque]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF__RoutingCo__POKA___67FE6514]  DEFAULT ((0)) FOR [POKA_YOKE_ALLOWED]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF__RoutingCo__WIP_Q__40E62EA1]  DEFAULT ((0)) FOR [WIP_Quantity]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_CreatedOn]  DEFAULT (getdate()) FOR [ent_stamp]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_ModifiedOn]  DEFAULT (getdate()) FOR [last_upd_stamp]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF__RoutingCo__ent_b__019FD234]  DEFAULT ('empro') FOR [ent_by]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF__RoutingCo__last___0293F66D]  DEFAULT ('empro') FOR [last_upd_by]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  DEFAULT ((0)) FOR [Scrap]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  DEFAULT ((0)) FOR [WIPFIFOCheck]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_routingconfiglinewise_IS_PLCLogsRequired]  DEFAULT ((0)) FOR [IS_PLCLogsRequired]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  DEFAULT ((0)) FOR [IsTextLogRequired]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_IsHMIRecipeAvailable]  DEFAULT ((0)) FOR [IsHMIRecipeAvailable]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_IsPokaYokeForSubStation]  DEFAULT ((0)) FOR [IsPokaYokeForSubStation]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] ADD  CONSTRAINT [DF_RoutingConfigLineWise_IsOfflineCapturingStation]  DEFAULT ((0)) FOR [IsOfflineCapturingStation]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF_RoutingConfigPartWise_OperationRequest]  DEFAULT ((0)) FOR [OperationRequired]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF_RoutingConfigPartWise_Traceability]  DEFAULT ((0)) FOR [Traceability]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF_RoutingConfigPartWise_Recipe]  DEFAULT ((0)) FOR [Recipe]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF_RoutingConfigPartWise_LabelPrinting]  DEFAULT ((0)) FOR [LabelPrinting]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF_RoutingConfigPartWise_Torque]  DEFAULT ((0)) FOR [Torque]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF_RoutingConfigPartWise_CreatedOn]  DEFAULT (getdate()) FOR [ent_stamp]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF_RoutingConfigPartWise_ModifiedOn]  DEFAULT (getdate()) FOR [last_upd_stamp]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF__RoutingCo__ent_b__03881AA6]  DEFAULT ('empro') FOR [ent_by]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [DF__RoutingCo__last___047C3EDF]  DEFAULT ('empro') FOR [last_upd_by]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] ADD  CONSTRAINT [IsCPValidationRequired_DF_VAL]  DEFAULT ((0)) FOR [IsCPValidationRequired]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise]  WITH CHECK ADD  CONSTRAINT [FK_RoutingConfigLineWise_MachineMst] FOREIGN KEY([ProfitCenterCode], [MachineCode])
REFERENCES [dbo].[MachineMst] ([ProfitCenterCode], [MachineCode])
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] CHECK CONSTRAINT [FK_RoutingConfigLineWise_MachineMst]
GO
ALTER TABLE [dbo].[RoutingConfigLineWise]  WITH CHECK ADD  CONSTRAINT [FK_RoutingConfigLineWise_OperationMst] FOREIGN KEY([ProfitCenterCode], [OperationCode])
REFERENCES [dbo].[OperationMst] ([ProfitCenterCode], [OperationCode])
GO
ALTER TABLE [dbo].[RoutingConfigLineWise] CHECK CONSTRAINT [FK_RoutingConfigLineWise_OperationMst]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise]  WITH CHECK ADD  CONSTRAINT [FK_RoutingConfigPartWise_MachineMst] FOREIGN KEY([ProfitCenterCode], [MachineCode])
REFERENCES [dbo].[MachineMst] ([ProfitCenterCode], [MachineCode])
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] CHECK CONSTRAINT [FK_RoutingConfigPartWise_MachineMst]
GO
ALTER TABLE [dbo].[RoutingConfigPartWise]  WITH CHECK ADD  CONSTRAINT [FK_RoutingConfigPartWise_OperationMst] FOREIGN KEY([ProfitCenterCode], [OperationCode])
REFERENCES [dbo].[OperationMst] ([ProfitCenterCode], [OperationCode])
GO
ALTER TABLE [dbo].[RoutingConfigPartWise] CHECK CONSTRAINT [FK_RoutingConfigPartWise_OperationMst]
GO
